<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout1}"
>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
  </style>
</th:block>
  <div layout:fragment="content">
    <div class="title flex-column">
      <div class="flex-row">
        <img
          th:src="@{/img/source/title_img.png}"
          alt="title_image"
          style="height: 650px; width: 650px; margin:20px 0"
        />
        <form
          class="my-2 my-lg-0 flex-column"
          style="display: flex; flex-direction: column"
          th:action="@{/}"
          method="get"
        >
          <div class="flex-column">
            <h1 class="deco-title">
              카페, 어디로 갈까?
            </h1>
            <br/>
            <h4 class="deco-title">
              카페 리뷰 탐방 사이트
            </h4>
            <br/>
          <div sec:authorize="isAnonymous()">
           
            <button
              type="button"
              class="btn btn-outline-success my-2 my-sm-0"
              th:onclick="|location.href='@{/members/login}'|"
            >
              로그인
            </button>
            <button
              type="button"
              class="btn btn-outline-success my-2 my-sm-0"
              th:onclick="|location.href='@{/members/new}'|"
            >
              계정 등록
          </button>

          <hr />
          <br/>

          <div>
            <img src="img/source/search-icon.png" alt="icon1" width="30px" style="margin: 0px 3px;" />
            <span class="h5">로그인 후 원하는 리뷰를 검색해 보세요!</span>
          </div>
          <br/>
          <div class="row">
            <th:block th:each="review, status: ${reviews}">
                <div class="col-md-4 margin">
                  <a th:href="'/review/' +${review.id}" class="text-dark">
                    <p th:text="${review.cafeNm}"></p>
                    <img th:src="${review.imgUrl}" class="img-main-random" th:alt="random_user_image">
                    
                  </a>
                </div>
            </th:block>
          </div>
        </div>

          <div 
            sec:authorize="isAuthenticated()">
            <button
            type="button"
            class="btn btn-outline-success my-2 my-sm-0"
            th:onclick="|location.href='@{/bookmark/my}'|"
          >
            북마크 목록
          </button>
          <button
            type="button"
            class="btn btn-outline-success my-2 my-sm-0"
            th:onclick="|location.href='@{/review/new}'|"
          >
            리뷰 등록
          </button>
          <button
            type="button"
            class="btn btn-outline-success my-2 my-sm-0"
            th:onclick="|location.href='@{/review/search}'|"
          >
            리뷰 검색
          </button>
          

          <hr/>

            <div>
              <img src="img/source/search-icon.png" alt="icon1" style="margin: 0px 3px;" width = "28px"/>
              <span class="h5">지금 인기 있는 리뷰입니다!</span>
            </div>
            <br/>
            <div class="flex-row">
              <th:block th:each="review, status: ${reviews}">
                  <div class="col-md-4 margin">
                    <a th:href="'/review/' +${review.id}" class="text-dark">
                      <p th:text="${review.cafeNm}"></p>
                      <img th:src="${review.imgUrl}" class="img-main-random" th:alt="user_image">
                      
                    </a>
                  </div>
              </th:block>
            </div>
          </div>  
            
          <div class="flex-row">
            <div class="diagram">
              <a href="about">사이트 소개</a>
              <hr />
              <img src="img/source/introduce-icon.png" alt="icon1" width="50px" />
            </div>
            <div class="diagram">
              <a href="/review">피드 구경</a>
              <hr />
              <img src="img/source/message-icon.png" alt="icon1" width="50px" />
            </div>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</html>
