<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout1}"
>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            $("#searchBtn").on("click", function(e){
                e.preventDefault();
                setUrl(0);
            })
        })
        
        function setUrl(page){
            var searchBy = $("#searchBy").val();
            var region = $("#region").val();
            var searchKeyword = $("#searchKeyword").val();

            location.href="/review/search/" +"?page=" +1 + "&region=" + region+ "&searchBy=" 
            + searchBy + "&searchKeyword=" + searchKeyword; 
        }
    </script>
</th:block>
  <!-- 사용자 CSS 추가 -->
  <th:block layout:fragment="css">
    <style>
      .carousel-inner > .item {
        height: 350px;
      }
      .margin {
        margin-bottom: 30px;
      }
      .banner {
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .card-text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    </style>
  </th:block>

  <div layout:fragment="content">
    <div
      class="form-inline justify-content-center"
      th:object="${reviewSearchDto}"
    >
      <select th:field="*{searchBy}" class="form-control" style="width: auto">
        <option value="cafeNm">카페명</option>
        <option value="menuNm">메뉴 이름</option>
      </select>
      <select th:field="*{region}" class="form-control" style="width: auto">
        <option th:each="region: ${cafeRegion}" th:text="${region.label()}" th:value="${region}"></option>
      </select>
      <input
        th:field="*{searchKeyword}"
        type="text"
        class="form-control"
        placeholder="검색어를 입력해주세요"
      />
      <button
        id="searchBtn"
        type="submit"
        class="btn btn-primary"
        style="margin-left: 3px"
      >
        Search
      </button>
    </div>
    <div class="row" style="margin-top: 30px">
      <th:block th:each="reviewContent, status: ${reviews.getContent()}">
          <div class="col-md-4 margin">
              <div class="card">
                  <a th:href="'/review/' +${reviewContent.id}" class="text-dark">
                      <div class="embed-responsive embed-responsive-4by3">
                          <img th:src="${reviewContent.imgUrl}" class="card-img-top embed-responsive-item" th:alt="${reviewContent.menuNm}">
                      </div>
                      <div class="card-body">
                          <h4 class="card-title">[[${reviewContent.menuNm}]]</h4>
                          <h5 class="card-title">[[${reviewContent.cafeNm}]]</h5>
                          <h5 class="text-rating">★ [[${reviewContent.rating}]]점</h5>
                      </div>
                  </a>
              </div>
          </div>
      </th:block>
  </div>

    <div th:with="start=${(reviews.number/maxPage)*maxPage + 1}, end=(${(reviews.totalPages == 0) ? 1 : (start + (maxPage - 1) < reviews.totalPages ? start + (maxPage - 1) : reviews.totalPages)})" >
      <ul class="pagination justify-content-center">

          <li class="page-item" th:classappend="${reviews.number eq 0}?'disabled':''">
              <a th:href="@{'/review/search' + '?page=' + ${reviews.number}}" aria-label='Previous' class="page-link">
                  <span aria-hidden='true'>Previous</span>
              </a>
          </li>

          <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${reviews.number eq page-1}?'active':''">
              <a th:href="@{'/review/search' + '?page=' + ${page}}" th:inline="text" class="page-link">[[${page}]]</a>
          </li>

          <li class="page-item" th:classappend="${reviews.number+1 ge reviews.totalPages}?'disabled':''">
              <a th:href="@{'/review/search' + '?page=' + ${reviews.number+2}}" aria-label='Next' class="page-link">
                  <span aria-hidden='true'>Next</span>
              </a>
          </li>

      </ul>
    </div>
    
  </div>
</html>
