<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout1}"
>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            $("#searchBtn").on("click", function(e){
                e.preventDefault();
                setUrl(0);
            })
        })
        
        function setUrl(page){
            var searchBy = $("#searchBy").val();
            var region = $("#region").val();
            var searchKeyword = $("#searchKeyword").val();

            location.href="/review/search/" +"?page=" +0 + "&region=" + region+ "&searchBy=" 
            + searchBy + "&searchKeyword=" + searchKeyword; 
        }
    </script>
</th:block>
  <!-- 사용자 CSS 추가 -->
  <th:block layout:fragment="css">
    <style>
      .carousel-inner > .item {
        height: 350px;
      }
      .margin {
        margin-bottom: 30px;
      }
      .banner {
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .card-text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    </style>
  </th:block>

  <div layout:fragment="content">
    <div
      class="form-inline justify-content-center"
      th:object="${reviewSearchDto}"
    >
      <select th:field="*{searchBy}" class="form-control" style="width: auto">
        <option value="cafeNm">카페명</option>
        <option value="menuNm">메뉴 이름</option>
      </select>
      <select th:field="*{region}" class="form-control" style="width: auto">
        <option value="">전체</option>
        <option value="SEOUL">서울</option>
        <option value="GYEONGGI">경기</option>
        <option value="DAEGU">대구</option>
        <option value="INCHEON">인천</option>
        <option value="DAEJEON">대전</option>
        <option value="GWANGJU">경주</option>
        <option value="ULSAN">울산</option>
        <option value="SEJONG">세종</option>
        <option value="CHUNGCHEONG">충청</option>
        <option value="JEONLA">전라</option>
        <option value="GYEONGSANG">경상</option>
        <option value="GANGWON">강원</option>
        <option value="JEONBUG">전북</option>
        <option value="BUSAN">부산</option>
        <option value="JEJU">제주</option>
        <option value="ETC">기타</option>
      </select>
      <input
        th:field="*{searchKeyword}"
        type="text"
        class="form-control"
        placeholder="검색어를 입력해주세요"
      />
      <button
        id="searchBtn"
        type="submit"
        class="btn btn-primary"
        style="margin-left: 3px"
      >
        Search
      </button>
    </div>
    <div class="row">
        <th:block th:each="reviewContent, status: ${reviews.getContent()}">
            <div class="col-md-4 margin">
                <div class="card">
                    <a th:href="'/review/' +${reviewContent.id}" class="text-dark">
                        <img th:src="${reviewContent.imgUrl}" class="card-img-top" th:alt="${reviewContent.menuNm}" height="200">
                        <div class="card-body">
                            <h4 class="card-title">[[${reviewContent.menuNm}]]</h4>
                            <h5 class="card-title">[[${reviewContent.cafeNm}]]</h5>
                            <p class="card-text">[[${reviewContent.reviewDetail}]]</p>
                            <h5 class="text-rating">[[${reviewContent.rating}]]점</h5>
                        </div>
                    </a>
                </div>
            </div>
        </th:block>
    </div>

  </div>
</html>
